body {
  margin: 0px;
  font-family: Helvetica;
}

.header {
  padding: 0px 10px 0px 13px;
  background: #47b0e9;
  height: 44px;
}

.logo {
  float: left;
  background: url(http://commun.it/images/sprite.png?v=33) no-repeat -198px -31px;
  width: 129px;
  height: 26px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 8px 90px 0 0;
}

.content {
  margin-left: 300px;
}

.widget {
  display: inline-block;
  width: 400px;
}

.login_status {
  float: right;
  margin-top: 12px;
}

.avatar, .details, .dismiss {
  display: inline-block;
}

.dismiss_button {
  display: inline-block;
}
